.toast-msg {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;

  .toast-item-wrapper {
    display: flex;
    justify-content: center;
  }

  .toast-box {
    height: 25px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
    padding: 10px 0;
    text-align: center;

    .msg-icon-box {
      width: 28px;
      height: 25px;
      border-radius: 4px 0 0 4px;

      .msg-icon {
        width: 28px;
        height: 25px;
      }
    }

    .msg-letter {
      flex: 1;
      margin-left: 11px;
      font-size: 11px;
      color: #ffffff;
    }

    .toast-close {
      width: 28px;
      height: 25px;
      background: url(../image/close-9-9.svg) no-repeat center;
      pointer-events: initial;
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
}

.toast-normal {
  background-color: #4ba3fa;

  .msg-icon-box {
    background-color: #3081d0;

    .msg-icon {
      background: url(../image/toast-check.svg) no-repeat center;
    }
  }
}

.toast-warn {
  background-color: #e08d00;

  .msg-icon-box {
    background-color: #ba7203;

    .msg-icon {
      background: url(../image/toast-alarm-1.svg) no-repeat center;
    }
  }
}

.toast-error {
  background-color: #be0c00;

  .msg-icon-box {
    background-color: #9b0e05;

    .msg-icon {
      background: url(../image/toast-alarm-2.svg) no-repeat center;
    }
  }
}
