div:has(> .global-page) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.global {
  &-page {
    width: 100%;
    display: flex;
    margin: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-block,
  &-title,
  &-number,
  &-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &-block {
    background-color: rgb(222, 209, 235);
    width: 300px;
    // height: 300px;
    margin: 15px;
    padding: 30px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  &-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  &-number {
    font-size: 5rem;
    margin: 20px 0;
  }
  &-buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    button {
      width: 30px;
      height: 30px;
      font-size: 1rem;
      flex-grow: 1;
      margin: 0 10px;
      border-radius: 8px;
      border: none;

      &:nth-child(3) {
        width: 60px;
        flex-grow: 1;
      }
    }
  }
}
.line {
  --mar: 20px;
  width: calc(100% - var(--mar) * 2);
  margin: var(--mar);
  padding: 2px 0;
  border-top: 2px dashed #999;
  border-bottom: 2px dashed #999;
}

.edit-form-wrapper,
.show-form-card-wrapper {
  border-radius: 5px;
  border: 3px solid rgb(222, 209, 235);
  padding: 5px;
  height: fit-content;
  h1 {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
}

.edit-form-wrapper {
  --zoom: 0.8
  zoom: var(--zoom);
  h1 {
    zoom: calc(1 / var(--zoom));
  }
}

.show-form-card {
  &-wrapper{
    max-width: 470px;
  }

  display: grid;
  grid-template-columns: 150px  minmax(200px, 1fr);
  grid-auto-rows: minmax(35px, auto);
  grid-gap: 5px;

  span {
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    border: 3px solid rgb(222, 209, 235);
    border-radius: 5px;    
    word-wrap: break-word;
    word-break: break-all;

    &:nth-child(2n + 1) {
      justify-content: flex-end;
    }

    &:nth-child(2n) {
      justify-content: flex-start;
    }

    &.yes, &.yes+span {
      color: rgb(13, 142, 13);
    }
    &.no, &.no+span{
      color: red;
    }
    &.여자, &.여자+span{
      color:rgb(227, 139, 153)
    }
    &.남자, &.남자+span{
      color:blue
    }

  }


}

.form-exam{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  >div{
    margin: 20px;
  }
}
