.test-button {
  width: 70px;
  border-radius: 4px;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  font-size: 15px;
  padding: 2px 0;
  margin: 2px 2px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;

  &:hover {
    background: #fff;
    color: #1aab8a;
    &::before,
    &::after {
      width: 100%;
      transition: 800ms ease all;
    }
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1aab8a;
    transition: 400ms ease all;
  }
  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}
div.inner {
  height: 21px;
}

.demo {
  margin-top: 100px;
  margin-left: 100px;
}

.top-wrapper {
  margin-left: 70px;
  white-space: nowrap;
  > div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
.left-wrapper {
  width: 70px;
  float: left;
  display: flex;
  flex-direction: column;
}
.right-wrapper {
  width: 70px;
  margin-left: 290px;
  display: flex;
  flex-direction: column;
}
.bottom-wrapper {
  margin-left: 70px;
  clear: both;
  white-space: nowrap;
}

.text-test {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.demo2 {
  margin-top: 50px;
  margin-left: 100px;
  > div {
    margin-left: 100px;
    white-space: nowrap;
  }
  button {
    width: 150px;
    display: flex;
    margin: 10px 0;
    justify-content: center;
  }
}
.demo3 {
  margin-top: 100px;
  margin-left: 150px;
  .right-wrapper {
    margin-left: 140px;
  }
}

//  mouseEnter Delay || mouseLeave Delay || tooltip mouseOver visible 예제

.tooltip-container {
  // target mouseEnter delay  =>  overlayClassName="enter-delay"
  &.enter-delay {
    transition-delay: 1s;
    visibility: visible;

    &.hidden {
      transition-delay: 0s;
      visibility: hidden;
    }
  }

  // target mouseLeave delay  =>  overlayClassName="leave-delay"
  &.leave-delay {
    transition-delay: 0s;
    visibility: visible;

    &.hidden {
      transition-delay: 1s;
      visibility: hidden;
    }
  }

  // tooltip 부분 mouseOver 시 툴팁 사라지지 않게 함   =>  overlayClassName="hover-view"
  &.hover-view {
    transition-delay: 0s;
    visibility: visible;

    &.hidden {
      transition-delay: 0.5s;
      visibility: hidden;
    }

    &:hover.hidden {
      visibility: visible;
    }

    &:not(:hover).hidden {
      visibility: hidden;
    }
  }
}
.prompt-text__span {
  display: flex;
}
.tooltip-container.comfirmTooltip {
  .tooltip-inner {
    color: #999;
    background-color: #fff;
  }
  .arrow-border {
    z-index: 1;
  }
  .border-top,
  .border-top-left,
  .border-top-right {
    border-color: #fff transparent transparent transparent;
  }

  .border-right,
  .border-right-top,
  .border-right-bottom {
    border-color: transparent #fff transparent transparent;
  }

  .border-bottom,
  .border-bottom-left,
  .border-bottom-right {
    border-color: transparent transparent #fff transparent;
  }

  .border-left,
  .border-left-top,
  .border-left-bottom {
    border-color: transparent transparent transparent #fff;
  }
}
.comfirmWrapper {
  padding: 10px;
  font-size: medium;
  .anticon-exclamation-circle {
    display: inline-block;
    width: 12;
    height: 12px;
  }
  .ant-popover-message-title {
    display: inline-flex;
    margin-left: 5px;
  }
  .ant-popover-buttons {
    margin-bottom: 4px;
    text-align: right;
    button {
      margin-left: 5px;
      border: none;
      border-radius: 3px;
      width: 34px;
      cursor: pointer;
    }
    .ant-btn-primary {
      background: #1aab8a;
    }
  }
}
