button,
.text-test {
  width: 70px;
  background-color: #999;
  border: 1px solid #333;
  border-radius: 4px;
}
.text-test {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
